@model ViewModels.AsignarPedidoViewModel

@{
    ViewData["Title"] = "Asignar Pedido";
}

<h1> Asignar un Pedido </h1>
<hr />
@* <h4> Cadete nro. @Model.IdCadete - @Model.Nombre</h4> *@
<h4> Cadete nro. @Model.IdCadete </h4>

<form asp-action="AsignarPedido" class="form-row align-items-center">
    <input type="hidden" asp-for="IdCadete">
    <div class="form-group">
        <label asp-for="IdPedido" class="control-label"></label>
        <select asp-for="IdPedido" asp-items="Model.Pedidos">
        </select>
        <span asp-validation-for="IdPedido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Confirmar" class="btn btn-primary" />  
        <a asp-action="Index" class="btn btn-secondary"> Cancelar </a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
