@{
    ViewData["Title"] = "Consulta";
}

@model cadAp2.Models.Cadete 

<article>
    <h1 class="text-center"> Consulta de un cadete </h1>

    <p>Código: @Model.Id</p>
    <p>Nombre: @Model.Nombre</p>
    <p>Dirección: @Model.Direccion</p>
    <p>@System.DateTime.Now</p>

</article>