@* necesito una page model ? *@
@* @if(string.IsNullOrEmpty(HttpContext.Session.GetString("user")))
{
    <a asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
}
else
{
    <span>Hola  @HttpContext.Session.GetString("user") | </span>
    <a  asp-controller="Login" asp-action="LogOut"> Salir</a>
} *@