@model ViewModels.AltaPedidoViewModel

@{
    ViewData["Title"] = "Crear Pedio";
}

<h1> @ViewData["Title"] </h1>
<hr />
<article class="row">
    <div class="col-md-4">
        <form asp-action="GuardarPedido">
        <fieldset class="form-group row">
            <legend> Pedido nro. @ViewData["idPed"] </legend>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group, row">
                <label asp-for="IdCliente" class="control-label"></label>
                <div class="col-md-6">
                    <select asp-for="IdCliente" asp-items="Model.ListaClientes">
                    </select>
                </div>
                <div class="col-md-6">
                    <a asp-controller="Cliente" asp-action="Alta" class="btn btn-info"> Nuevo Cliente </a>
                </div>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Pedido" class="btn btn-primary" />
            </div>
        </fieldset>
        </form>
    </div>
</article>

<p>
    <a asp-action="Index">Volver a la lista</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}