@model ViewModels.ModificarPedidoViewModel

@{
    ViewData["Title"] = "Editar Pedido";
}

<h1>Modificar el pedido</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset class="form-group row">
            <legend> Pedido nro. @ViewData["idPed"] </legend>
            <input type="hidden" asp-for="IdPedido" />
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado"></label>
                <select asp-for="Estado" asp-items="Html.GetEnumSelectList<Models.EstadoPedido>()">
                </select>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <legend> Detalles del Cliente </legend>
            <input type="hidden" asp-for="IdCliente" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenciaDireccion" class="control-label"></label>
                <input asp-for="ReferenciaDireccion" class="form-control" />
                @* <span asp-validation-for="ReferenciaDireccion" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </fieldset>
        </form>
    </div>
</div>

<p>
    <a asp-action="Index">Regresar a la lista</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
