@{
    ViewData["Title"] = "Inicio";
}

@* @model List<cadAp2.Models.Persona> *@

<article class="text-center">
    <h1 class="display-4">Gotham Cadetería</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</article>
