@model ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Inicio";
}

<article class="text-center">
    <h1 class="display-4">Sei-Ya Cadetería</h1>
    <h2> @ViewData["bienvenida"] </h2>

</article>
